@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  flex-wrap: wrap; /* Added to allow wrapping on smaller screens */
}

.mobilecontainer {
  display: none;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  text-indent: 40px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel p {
  opacity: 0;
}

.panel.active p {
  opacity: 1;
  padding-left: 40px;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  body {
    flex-direction: column;
    height: auto;
    overflow: auto;
  }

  .container {
    display: none; /* Hide the default container */
  }

  .mobilecontainer {
    display: flex; /* Show the mobile container */
  }

  .panel {
    width: 90%;
    height: auto;
    flex: none;
  }

  .panel h3 {
    text-indent: 20px;
    bottom: 10px;
    left: 10px;
  }

  .panel p {
    padding-left: 20px;
  }

  .panel.active {
    flex: none;
    width: 100%;
  }
}
